<header>
    <div class="bg-dark collapse" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-white">About</h4>
            <p class="text-muted">
                For a few years I have been switching banks for profit and have managed to do so rather well. 
                I've started sharing the info with friends and family, but I have found that saying the same thing everytime gets a bit daunting. 
                Hence the website, I can direct everyone there and potentially help more people.
            </p>
          </div>
          <div class="col-sm-4 offset-md-1 py-4">
            <h4 class="text-white">Contact</h4>
            <ul class="list-unstyled">
              <li>
                  <a href="https://twitter.com/" class="text-white"><i class="fab fa-twitter"></i></a>
                  &nbsp;
                  <a href="#" class="text-white"><i class="fab fa-facebook"></i></a>
                  &nbsp;
                  <a href="mailto:yourEmail@email.com" class="text-white"><i class="far fa-envelope"></i></a>
                </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container d-flex justify-content-between">
        <a href="/" class="navbar-brand d-flex align-items-center">
            <i class="fas fa-piggy-bank">&nbsp; Account Switching benefits</i>
        </a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
</header>