{% extends 'base.html' %}

{% block content %}

    {% if error_message %}
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
            <strong>Error!</strong> {{ error_message }}
        </div>
    {% elif offer_list %}
        <table class="offer_table">
            <tr>
                <th class="">Bank</th>
                <th>Switch Bonus</th>
                <th>Referral</th>
                <th>Minimum Monthly Pay In</th>
                <th>Minimum Direct Debits</th>
                <th>Extra Perks</th>
                <th>Offer Website</th>
                <th>Deal Start Date</th>
                <th>Deal End Date</th>
            </tr>
            
            {% for offer in offer_list %}  
                <tr>
                    <td>{{ offer.bank }}</td>
                    <td>{{ offer.switch_bonus }}</td>
                    <td>{{ offer.referral }}</td>
                    <td>{{ offer.min_mthly_pay_in }}</td>
                    <td>{{ offer.req_dd }}</td>
                    <td>{{ offer.extra_perks }}</td>
                    <td><a href="{{ offer.offer_url }}" target="_blank">Click here to Go to deal.</a></td>
                    <td>{{ offer.start_date }}</td>
                    <td>{{ offer.end_date }}</td>
                </tr>
            {% endfor %}
            
        </table>
        
    {% else %}
        <div class="info">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
            <strong>Sorry,</strong> No Deals matching your criteria found.
        </div>
    {% endif %}

{% endblock content %}