{% extends 'base.html' %}

{% block content %}

    {% if error_message %}
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
            <strong>Error!</strong> {{ error_message }}
        </div>
    {% elif offer_list %}
        <table class="offer_table">
            <tr>
                <th>Bank</th>
                <th>Joining Bonus</th>
                <th>Monthly Bonus</th>
                <th>Monthly Interest in &percnt;</th>
                <th>Deal End Date</th>
            </tr>
            
            {% for offer in offer_list %}  
                <tr>
                    <td><a href="{% url 'my_app:detail' offer.id %}">{{ offer.bank }}</a></td>
                    <td>&pound;{{ offer.switch_bonus }}</td>
                    <td>&pound;{{ offer.monthly_bonus }}</td>
                    <td>{{ offer.monthly_interest }}</td>
                    <td>{{ offer.end_date }}</td>
                </tr>
            {% endfor %}
            
        </table>
        
    {% else %}
        <div class="info">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
            <strong>Sorry,</strong> No Deals matching your criteria found.
        </div>
    {% endif %}

{% endblock content %}
