
<section class="jumbotron text-center" style="background-color: #f8f9fa!important;">
    <div class="container">
      
        <h1>Want to make money for switching Bank Account?</h1>
      
      <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, 
          etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.
        </p>
        <br/>
        <form action="{% url 'my_app:new_search' %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="monthly_income">Potential monthly pay in £</label>
                    <input type="number" name="monthly_income" placeholder="£" value="{{ monthly_income }}" class="form-control" required="">
                    <div class="invalid-feedback">
                        Enter a valid Potential monthly pay in.
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="direct_debits">Number of current direct debits</label>
                    <input placeholder="Monthly Direct Debits" name="direct_debits" type="number" value="{{ direct_debits }}" class="form-control" required="">
                    <div class="invalid-feedback">
                        Provide your current direct debits.
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="money_saved">Money "saved" in the account £</label>
                    <input placeholder="£" name="money_saved" type="number" value="{{ money_saved }}" class="form-control" required="">
                    <div class="invalid-feedback">
                      Provide an estimate of Money you have saved in the account.
                    </div>
                </div>
            </div>
            
            <hr class="mb-4">

            <div class="row">
                <div class="col-md-4 mb-3"></div>
                <div class="col-md-4 mb-3">
                    <button class="btn btn-primary btn-lg btn-block" type="submit" style="background-color: #343a40; border-color:#343a40;">
                        <i class="far fa-paper-plane"></i>&nbsp; Search
                    </button>
                </div>
                <div class="col-md-4 mb-3"></div>
            </div>
            
    
        </form>
 
    </div>
</section>

